<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="app.css">
	<script type="text/javascript" src="node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="node_modules/lodash/lodash.js"></script>
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="node_modules/foundation-sites/dist/foundation.js"></script>
	<script type="text/javascript" src="index.js"></script>
	<title></title>
</head>
<body ng-app="anomali" ng-controller="FormController">

<div class="row">
<div class="columns large-6 medium-6 small-6">
	<form name="anomaliForm">
		<span>Please select destination:</span>
		<span><select ng-options="dest as dest.display for dest in destinations" ng-model="selectedDestination" ng-change="destinationChanged()"></select></span>
		<div ng-repeat="field in selectedDestination.fields">
			<div generate-field check-validity="checkValidity" field-object=field></div>
		</div>
		<input type="submit" value="Submit" ng-disabled="!submitEnabled" ng-show="selectedDestination.id !== 'no_selection'" class="label" ng-class="{'secondary':!submitEnabled,'success':submitEnabled}" ng-click="submit()">
	</form>


</div>
</div>
</body>
</html>